<%- include('includes/head') %> <%- include('includes/navbar') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="display-1 text-center">Contacts</h1>
      <p class="text-center lead">Your contacts are below.</p>

      <%- include("includes/warns") %>

      <div class="responsive-table">
        <table class="table my-3">
          <tr>
            <td>Kaique</td>
            <td>Lima</td>
            <td>4399908334</td>
            <td>kaikegl@gmail.com</td>
          </tr>
          <tr>
            <td>Kaique</td>
            <td>Lima</td>
            <td>4399908334</td>
            <td>kaikegl@gmail.com</td>
          </tr>
          <tr>
            <td>Kaique</td>
            <td>Lima</td>
            <td>4399908334</td>
            <td>kaikegl@gmail.com</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
